img {
    padding: 0.5rem 0.5rem;
    &:hover {
        background-color: #9c0e2a;
    }
}

span {
    color: #e3e3e3;
    padding: 0.5rem 0.5rem;
    &:hover {
        background-color: #9c0e2a;
    }
}
