<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<mat-toolbar>
    <mat-toolbar-row>
        <!-- <img routerLink="/" src="featured_seasonal_and_gifts_40dp.svg" alt="Gift Box Icon" /> -->
        <!-- <mat-icon fontIcon="featured_seasonal_and_gifts"></mat-icon> -->
        <span routerLink="/" class="material-symbols-outlined" alt="Gift Box Icon">featured_seasonal_and_gifts</span>
        <span routerLink="/questionnaire">Questionnaire</span>
        <span routerLink="/test">404</span>
    </mat-toolbar-row>
</mat-toolbar>



